<h2>Listing patients</h2>
<%= will_paginate %>
<table>
  <tr>
    <th>Name   </th>
    <th>Email</th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%=h patient.name %></td>
    <td><%=h patient.email %></td>
    <td><%= link_to 'Show', patient %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to 'Destroy', patient, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate %>
<%= link_to 'Add New patient', new_patient_path %>

<%= link_to 'List of patient Headaches', :controller => 'headaches', :action => 'index' %>