<table class="profile">
  <tr>
    <td class="main">
      <h2>
        <%= gravatar_for @patient %>
        <%= h @patient.name %>
      </h2>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= h @patient.name %><br />
      <strong>URL</strong>  <%= link_to patient_path(@patient), @patient %><br />
	  <strong>Email</strong> <%= h @patient.email %><br />
    </td>
  </tr>
</table>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>